<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/estilos.css">
    <link rel="icon" href="Iconos/cv.ico">
    <title>CV</title>
</head>
<body>
    <form class="cv">

        <header>
            <img class="fondo" src="Imagenes/encabezado.png">
        </header>
    
        <div class="encabezado">
            
                 <div class="experiencia"> 
                        <h2>Experiencia</h2>

                        <div>
                            <h3>Empresa</h3>
                            <h4>Puesto</h4>   
                            <h5>Mes y Año</h5>   
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                        </div>

                        <div>
                            <h3>Empresa</h3>
                            <h4>Puesto</h4>
                            <h5>Mes y Año</h5>   
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>

                        <div>
                            <h3>Empresa</h3>
                            <h4>Puesto</h4>
                            <h5>Mes y Año</h5>   
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                 </div>
                 
                 <div class="software">
                     <h2>Software</h2>
                     <div class="skills"> 
                        <table>
                            <tr>
                                <td><h4 class="izquierda">Phtoshop</h4></td>
                                <td> <div class="circulo"></div></td>
                                <td> <div class="circulo"></div></td>
                                <td> <div class="circulo"></div></td>
                                <td> <div class="circulo"></div></td>
                                <td> <div class="circulo"></div></td>
                                <td> <div class="circulo"></div></td>
                            </tr>
                            <tr>
                                <td><h4 class="izquierda">Ilustrator</h4></td>
                                <td> <div class="circulo"></div></td>
                                <td> <div class="circulo"></div></td>
                                <td> <div class="circulo"></div></td>
                                <td> <div class="circulo"></div></td>
                                <td> <div class="circulo"></div></td>
                                <td> <div class="circulo"></div></td>
                            </tr>
                            <tr>
                                <td><h4 class="izquierda">InDesign</h4></td>
                                <td> <div class="circulo"></div></td>
                                <td> <div class="circulo"></div></td>
                                <td> <div class="circulo"></div></td>
                                <td> <div class="circulo"></div></td>
                                <td> <div class="circulo"></div></td>
                                <td> <div class="circulo"></div></td>
                            </tr>
                            <tr>
                                <td><h4 class="izquierda">Dreamweaver</h4></td>
                                <td> <div class="circulo"></div></td>
                                <td> <div class="circulo"></div></td>
                                <td> <div class="circulo"></div></td>
                                <td> <div class="circulo"></div></td>
                                <td> <div class="circulo"></div></td>
                                <td> <div class="circulo"></div></td>
                            </tr>
                        </table>
                    </div>
                 </div>
            
        </div>
        <div class="enmedio">
             <div>
                <img class="imagen" src="Imagenes/foto.jpg">
             </div>

             <div class="presentacion">
                 <h1 id="nom">John Doe</h1>
                 <h4 class="dedicacion">Creative Director</h4>
                 <p class="acerca">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto esse cumque inventore assumenda aspernatur aliquid ad omnis, enim quisquam ipsam magnam quam quaerat cupiditate molestias, mollitia beatae nam, consequatur porro.</p>
             </div>

             <div class="personal" >
                
                 <div>
                    <h4 class="centrado">Año de Nacimiento</h4>
                    <h3 class="centrado">01/01/1982</h3>
                    <br>
                </div>
                
                 <div> 
                    <h4 class="centrado">Direccion</h4>
                    <h3 class="centrado">1234 street road, city nave,uk 567 890</h3>
                    <br>
                 </div>
                 
                 <div>
                    <h4 class="centrado">Telefono</h4>
                    <h3 class="centrado">01234-456-7890.</h3>
                    <br>
                 </div>
                 
                 <div>
                    <h4 class="centrado">E-mail</h4>
                    <h3 class="centrado">joe@gmail.com</h3>
                    <br>
                 </div>
                 
                 <div>
                    <h4 class="centrado">Sitio Web</h4>
                    <h3 class="centrado">www.psdfree.com</h3>
                    <br>
                 </div>
                
             </div>
            
             <div>
                 <br>
                <table>
                    <tr>
                        <td><img src="Iconos/facebook.png"><label for="">Facebook</label></td>
                        <td><img src="Iconos/twitter.png"> <label for=>Twitter</label></td>
                    </tr>
                    <tr>
                        <td><img src="Iconos/instagram.png">Instagram</td>
                        
                    </tr>
                </table>

            </div>
        
        </div>

    
        <div class="ultima">
            <div class="formacion">
            <h2>Formacion</h2>
            <div>
                <h3 class="izquierda">Empresa</h3>
                <h4 class="izquierda">Puesto</h4>   
                <h5 class="izquierda">Mes y Año</h5>   
                <p class="izquierda">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
            </div>

            <div>
                <h3 class="izquierda">Empresa</h3>
                <h4 class="izquierda">Puesto</h4>
                <h5 class="izquierda">Mes y Año</h5>   
                <p class="izquierda"> Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
            </div>

            <div>
                <h3 class="izquierda">Empresa</h3>
                <h4 class="izquierda">Puesto</h4>
                <h5 class="izquierda">Mes y Año</h5>   
                <p class="izquierda">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
            </div>
            </div>

            <div class="habilidades">
                <h2>Habilidades</h2>
                <div class="skills"> 
                    <table>
                        <tr>
                        
                            <td> <div class="circulo"></div></td>
                            <td> <div class="circulo"></div></td>
                            <td> <div class="circulo"></div></td>
                            <td> <div class="circulo"></div></td>
                            <td> <div class="circulo"></div></td>
                            <td> <div class="circulo"></div></td>
                            <td><h4>Comunicacion</h4></td>
                        </tr>
                        <tr>
                            <td> <div class="circulo"></div></td>
                            <td> <div class="circulo"></div></td>
                            <td> <div class="circulo"></div></td>
                            <td> <div class="circulo"></div></td>
                            <td> <div class="circulo"></div></td>
                            <td> <div class="circulo"></div></td>
                            <td><h4>Trabajo en equipo</h4></td>
                        </tr>
                        <tr>
                            <td> <div class="circulo"></div></td>
                            <td> <div class="circulo"></div></td>
                            <td> <div class="circulo"></div></td>
                            <td> <div class="circulo"></div></td>
                            <td> <div class="circulo"></div></td>
                            <td> <div class="circulo"></div></td>
                            <td><h4>Creatividad</h4></td>
                        </tr>
                        <tr>
                            <td> <div class="circulo"></div></td>
                            <td> <div class="circulo"></div></td>
                            <td> <div class="circulo"></div></td>
                            <td> <div class="circulo"></div></td>
                            <td> <div class="circulo"></div></td>
                            <td> <div class="circulo"></div></td>
                            <td><h4>Dedicacion</h4></td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>
        
        
        
            
        

    </form>
 

</body>
</html>